---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_FAVICON } from '../consts';
---

<!doctype html>
<html lang="pt-br">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} favicon={SITE_FAVICON}/>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1><img src={SITE_FAVICON} style="width: 5%;"> Olá, doador!</h1>
			<p>
				Bem-vindo ao canal de campanhas dos Hemocentros do Brasil!. Aqui você descobrirá várias campanhas que estão sendo utilizadas no Brasil afora e pode compartilhar com suas redes sociais.
			</p>
			<p>Atualmente nossos canais estão fazendo campanhas para:</p>
			<ul>
				<li><a href="https://www.hemoce.ce.gov.br/" target="_blank">HEMOCE</a>: Centro de Hematologia e Hemoterapia do Estado do Ceará</li>
			</ul>
			<p>
				Se você trabalha em um Hemocentro e também deseja adicionar campanhas interativas, 
				entre em contato conosco através do e-mail:
				<a href="mailto:gcsolutions.contact@gmail.com">gcsolutions.contact@gmail.com</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
